/* body background */
body {
     background-image: url("../images/pageBG.png");
}
/* landing page */
.not-logged-in .howtouse h2 {
     font-size: 14px;
     color: #000;
     text-decoration:underline;
     font-weight: 600;
     margin: 5px 0;
     line-height: 15px;
}
.not-logged-in .howtouse .text {
     margin:1px 5px;
}
.not-logged-in h2.pane-title {
     font-size: 20px !important;
     color:#000000 !important;
     font-weight: 600;
}
.not-logged-in .video {
     font-size: 16px !important;
     color:#37BA51 !important;
     font-weight: 600;
}
/* top navigation */
.not-logged-in ul#nice-menu-0 {
     position: absolute;
     left: 400px;
     top: 50px;
}
.logged-in ul#nice-menu-0 {
     position: absolute;
     left: 400px;
     top: 100px;
}
/* content bottom */
.first-footer img {
     margin: 5px 7px;
     background:#fff url("../images/borderFooter.png") repeat-x top left;
}
/* footer */

.not-logged-in fieldset {
     border: 0px solid #fff !important;
}
.not-logged-in fieldset legend{
     display: none;
}
.not-logged-in fieldset .description {
     display: none;
}
.logged-in .form-item-profile-main-field-choose-membership-type-und-0-registration-type .description {
    display: none;
}
/* top navigation */
#page ul.nice-menu {
    width: 100%;
    float: left;
    margin-left: 180px;
}
#block-system-main-menu ul  {
    width: 100%;
    float: left;
    height: 20px;
    padding: 6px;
    background-color: #000;
}
#block-system-main-menu ul li  {
    width: 15%;
    float: left;
    list-style-image: none;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.1em;
}
#block-system-main-menu ul li a {
    color: #fff;
}
/* left sidebar */
div.left-link {
    border-bottom: 1px solid #fff;
}
.left-link a {
      color: #910404 !important;
}
#hideme1 {
      margin-left: 1.7em;
}
/* right sidebar */
.view-service-offerings .view-content,
.view-service-offerings .view-empty,
.view-service-requests .view-content,
.view-service-requests .view-empty{
      padding-left: 0.6em;
}
.view-service-offerings .view-content .views-row,
.view-service-requests .view-content .views-row{
      padding-bottom: 3px;
      margin-bottom: 3px;
}
.affiliation-group{
      margin-bottom: 10px;
      border-bottom: 1px solid #fff;
}
.affiliation-add-link {
      color: #910404;
      float: right;
}
/* pane and node title */
.node-title,
.view-header h3,
.pane-title {
       font-size: 1.2em !important;
       color: #910404;
}
/* page level elements */
#page-title {
       font-size: 1.5em !important;
       font-weight: bold !important;;
       color: #000;
}
/* profile page */
#block-menu-menu-profile-menu ul,
.pane-menu-menu-profile-menu ul {
    margin-left: 185px;
    margin-top: 15px;
    height: 20px;
    padding: 6px;
}
#block-menu-menu-profile-menu ul li,
.pane-menu-menu-profile-menu ul li  {
    width: 25%;
    float: left;
    list-style-image: none;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.1em;
}
#block-menu-menu-profile-menu ul li a,
.pane-menu-menu-profile-menu ul li a {
    color: #000;
}
/* node edit form */
.node-type-service-request .supplementary-fields,
.node-type-service-offering .supplementary-fields,
.page-node-add-service-offering .supplementary-fields,
.page-node-add-service-request .supplementary-fields {
    display: none;
}
/* user edit form */
.node-type-faq ul.primary,
.node-type-events ul.primary,
.node-type-need-post ul.primary,
.node-type-resource-post ul.primary,
.node-type-affiliations ul.primary,
.page-user ul.primary {
    display: none;
}
.not-logged-in ul.primary {
    display: block;
}

